.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 7.5em;
  // height: 100%;

  h2 {
    font-size: 1em;
    margin-top: 3.5em;
    margin-bottom: 0.9em;
    padding: 0;
    color: rgb(125, 197, 202);
  }

  h4 {
    border: solid 0.1em rgb(125, 197, 202);
    border-radius: 0.3em;
    color: rgb(134, 145, 146);
    font-size: 1em;
    font-weight: lighter;
    width: 10em;
    padding: 0.5em;
  }

  .input-user {
    border: 0.1em solid rgb(125, 197, 202);
    border-radius: 0.3em;
    margin-bottom: 2em;
    padding: 0.2em;
    width: 13em;
  }

  .userBtn {
    background-color: rgba(241, 166, 197, 0.158);
    border: 0.03em solid rgb(241, 166, 197);
    border-radius: 0.3em;
    color: rgb(241, 166, 197);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -0.8em;
    padding: 0.4em 0.8em 0.4em 0.8em;
    width: 10em;
  }

  .input-user-save {
    border: 0.1em solid rgb(125, 197, 202);
    border-radius: 0.3em;
    margin-bottom: 2em;
    padding: 0.2em;
    width: 13em;
  }

  .userBtn-save {
    background-color: rgba(241, 166, 197, 0.158);
    border: 0.03em solid rgb(241, 166, 197);
    border-radius: 0.3em;
    color: rgb(241, 166, 197);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -0.8em;
    padding: 0.4em 0.8em 0.4em 0.8em;
    width: 10em;
  }
}

