.nav-container {
  background-color: rgba(241, 166, 197, 0.438);
  height: 3em;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .navbar-title {
    font-family: "Fredoka One", cursive;
    color: rgb(241, 166, 197);
    margin-left: 1.5em;
    margin-right: 3.6em;
  }

  .navbar-text {
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(134, 145, 146);
    text-decoration: none;
    margin-left: 1em;
  }
}
