@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap");

$brand-color: rgb(241, 166, 197);
$brand-font: "Fredoka One", cursive;

$body-font: "Sarabun", sans-serif;;

$sub-titles-color: rgb(63, 206, 163) ;