@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap");
.main-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5em;
}

.main-container .top-main {
  margin-top: 3em;
  width: 13em;
}

.main-container .top-main h1 {
  color: #f1a6c5;
  font-family: "Fredoka One", cursive;
  font-size: 4em;
}

.main-container .top-main h4 {
  font-family: "Sarabun", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #7dc5ca;
  text-align: center;
}

.main-container .top-main h6 {
  color: #869192;
  font-size: 0.8em;
  text-align: center;
}

.main-container .top-main .search-and-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.3em;
}

.main-container .top-main .search-and-btn .searchBar {
  border: 0.1em solid #7dc5ca;
  border-radius: 0.3em;
  width: 13em;
}

.main-container .top-main .search-and-btn .searchBtn {
  background-color: rgba(241, 166, 197, 0.158);
  border: 0.03em solid #f1a6c5;
  color: #f1a6c5;
  margin-top: 1em;
  padding: 0.4em 0.8em 0.4em 0.8em;
}

.main-container .top-main p {
  color: #869192;
  font-size: 0.8em;
  text-align: center;
}

.main-container .main-bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3em;
}

.nav-container {
  background-color: rgba(241, 166, 197, 0.438);
  height: 3em;
  width: 100vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-container .navbar-title {
  font-family: "Fredoka One", cursive;
  color: #f1a6c5;
  margin-left: 1.5em;
  margin-right: 3.6em;
}

.nav-container .navbar-text {
  font-size: 0.8em;
  font-weight: bold;
  color: #869192;
  text-decoration: none;
  margin-left: 1em;
}

.login-background {
  background-color: rgba(241, 166, 197, 0.438);
  height: 100vh;
  width: 100vw;
}

.login-background .login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-background .login-container h2 {
  color: #f1a6c5;
  font-family: "Fredoka One", cursive;
  font-size: 2.5em;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.login-background .login-container .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-background .login-container .login-form .input-form {
  border: 0.1em solid #7dc5ca;
  border-radius: 0.3em;
  margin-bottom: 2em;
  padding: 0.2em;
  width: 13em;
}

.login-background .login-container .login-form .formBtn {
  background-color: rgba(241, 166, 197, 0.158);
  border: 0.03em solid #f1a6c5;
  border-radius: 0.3em;
  color: #f1a6c5;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.4em 0.8em 0.4em 0.8em;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.6em;
  width: 20em;
}

.user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7.5em;
}

.user-container h2 {
  font-size: 1em;
  margin-top: 3.5em;
  margin-bottom: 0.9em;
  padding: 0;
  color: #7dc5ca;
}

.user-container h4 {
  border: solid 0.1em #7dc5ca;
  border-radius: 0.3em;
  color: #869192;
  font-size: 1em;
  font-weight: lighter;
  width: 10em;
  padding: 0.5em;
}

.user-container .input-user {
  border: 0.1em solid #7dc5ca;
  border-radius: 0.3em;
  margin-bottom: 2em;
  padding: 0.2em;
  width: 13em;
}

.user-container .userBtn {
  background-color: rgba(241, 166, 197, 0.158);
  border: 0.03em solid #f1a6c5;
  border-radius: 0.3em;
  color: #f1a6c5;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: -0.8em;
  padding: 0.4em 0.8em 0.4em 0.8em;
  width: 10em;
}

.user-container .input-user-save {
  border: 0.1em solid #7dc5ca;
  border-radius: 0.3em;
  margin-bottom: 2em;
  padding: 0.2em;
  width: 13em;
}

.user-container .userBtn-save {
  background-color: rgba(241, 166, 197, 0.158);
  border: 0.03em solid #f1a6c5;
  border-radius: 0.3em;
  color: #f1a6c5;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: -0.8em;
  padding: 0.4em 0.8em 0.4em 0.8em;
  width: 10em;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Sarabun", sans-serif;
}
/*# sourceMappingURL=Styles.css.map */