@import "../components/MainPage/MainPage";
@import "../components/NavbarComponent/NavbarComponent";
@import "../components//LoginPage/LoginPage";
@import "../components/ProductDisplay/ProductDisplay";
@import "../components/UserPage/UserPage";

@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Sarabun", sans-serif;
}
