@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap");

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5em;

  .top-main {
    margin-top: 3em;
    width: 13em;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    h1 {
      color: rgb(241, 166, 197);
      font-family: "Fredoka One", cursive;
      font-size: 4em;
      // font-weight: bolder;
    }

    h4 {
      font-family: "Sarabun", sans-serif;
      font-size: 1.3em;
      font-weight: bold;
      color: rgb(125, 197, 202);
      text-align: center;
    }

    h6 {
      color: rgb(134, 145, 146);
      font-size: 0.8em;
      text-align: center;
    }

    .search-and-btn {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 2.3em;

      .searchBar {
        border: 0.1em solid rgb(125, 197, 202);
        border-radius: 0.3em;
        width: 13em;
      }

      .searchBtn {
        background-color: rgba(241, 166, 197, 0.158);
        border: 0.03em solid rgb(241, 166, 197);
        color: rgb(241, 166, 197);
        margin-top: 1em;
        padding: 0.4em 0.8em 0.4em 0.8em;
      }
    }

    p {
      color: rgb(134, 145, 146);
      font-size: 0.8em;
      text-align: center;
    }
  }

  .main-bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    // width: 18em;
  }
}
