.login-background {
  background-color: rgba(241, 166, 197, 0.438);
  height: 100vh;
  width: 100vw;

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 100%;

    h2 {
      color: rgb(241, 166, 197);
      font-family: "Fredoka One", cursive;
      font-size: 2.5em;
      margin-top: 2em;
      margin-bottom: 1.5em;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-form {
        border: 0.1em solid rgb(125, 197, 202);
        border-radius: 0.3em;
        margin-bottom: 2em;
        padding: 0.2em;
        width: 13em;
      }

      .formBtn {
        background-color: rgba(241, 166, 197, 0.158);
        border: 0.03em solid rgb(241, 166, 197);
        border-radius: 0.3em;
        color: rgb(241, 166, 197);
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.4em 0.8em 0.4em 0.8em;
      }
    }
  }
}
