.h4R {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
  margin-left: 20%;
  text-align: center;
  vertical-align: middle;
}

.container {
  max-width: 100%;
}

.rowC {
  margin-left: 20px;
}

.h6R {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  margin-left: 36%;
  text-align: center;
  vertical-align: middle;
}

.col2 {
  background-color: #c7a0bed5;
  width: 312px;
  height: 100px;
  margin-left: 11%;
}

.imagePop {
  width: 200px;
  height: 200px;
}

.popUp {
  position: -webkit-sticky;
  position: sticky;
  top: 30%;
}

.Cont {
  background-color: #fbd6e58c;
  height: 1000px;
  width: 100%;
}
/*# sourceMappingURL=InvoicePage.css.map */