.h4R {
  display: flex;
  margin-top: 33px;
  margin-left: 20%;
  text-align: center;
  vertical-align: middle;
  
}

.container{
  max-width: 100%;
  
}

.rowC{
  margin-left:20px;
}

body {
  // background-color: #888888;
  // background: linear-gradient(#888888, #383838);
}

.h6R {
  display: flex;
  margin-top: 37px;
  margin-left: 36%;
  text-align: center;
  vertical-align: middle;
}

.col2 {
    width: 312px;
    height: 100px;
    margin-left: 11%;
  border-style: solid;
  border-color: rgb(125, 197, 202);
  background-color: rgba(125, 197, 202, 0.61);
  margin-top:10px
  
}

.imagePop{
  width:200px;
  height: 200px;;
}

.popUp{
  position: sticky;
  top: 30%;

}

.Cont{
  background-color: #fbd6e58c;
  height:1000px;
  width:100%
}